<div class="main-feed category widget" bz-loading-container="loading" ng-init="showMore = true">
    <table ng-table="tableParams" class="no-thead table">
        <tr ng-repeat="page in pagesList">
            <td>
                <div class="feed-item">
                    <ul class="unstyled tags">
                        <li class="badge" ng-repeat="tag in page.tags"><a href="#" title="">{{ tag.title }}</a></li>
                    </ul>
                    <div ng-include="'/views/widgets/pages/page/' + page.template"></div>
                </div>
            </td>
        </tr>
    </table>
</div>