<div class="main-feed category widget" bz-loading-container="loading" ng-init="showMore = true"
     xmlns="http://www.w3.org/1999/html">

    <div class="all-category">
        <div class="one-category" data-ng-repeat="children in category.children">
            <h3><a href="c-{{children.url}}">{{children.title|language}}</a></h3>
            <article>
                {{children.description|language}}
            </article>
            <hr />
        </div>
    </div>

    <table ng-table="tableParams" class="no-thead table">
        <tr ng-repeat="page in pagesList">
            <td>
                <div class="feed-item">
                    <ul class="unstyled tags">
                        <li class="badge" ng-repeat="tag in page.tags"><a href="#" title="">{{ tag.title }}</a></li>
                    </ul>
                    <div ng-include="'/views/widgets/pages/page/' + page.template"></div>
                </div>
            </td>
        </tr>
    </table>
</div>