<div bz-slider="pagesList.length" delay="5000" autoplay="true" class="slider widget">

    <div class="bz-slide slider expand page" ng-show="i == $slideIndex" ng-repeat="(i, page) in pagesList">

        <div class="page default">
            <div class="row">
                <div ng-class="{ 'col-lg-8': page.images.0, 'col-lg-12': !page.images.0 }">
                    <h3><a href="{{ page.url }}">{{ page.title.en }}</a></h3>
                    <article>
                        <div ng-bind-html="page.body.en"></div>
                    </article>
                </div>
                <div ng-class="{ 'col-lg-4': page.images.0}">
                    <img class="thumb" src="{{ page.images[0].url }}" alt="{{ page.images[0].name }}"  />
                </div>
            </div>
        </div>
    </div>
    <div class="slider-nav">
        <div class="b-add">
            <a ng-repeat="(i, page) in pagesList" data-ng-click="setIndex(i)">{{i+1}}</a>
        </div>
    </div>
</div>