<div class="row">
    <div class="col col-md-8 content" bz-loading-container="loading">
        <div class="mainpage">
            <div class="block default">
                <div bz-widget="'bcPages.Widgets.Page'" data-settings="{ 'id': 44, 'templateUrl': '/views/widgets/pages/slider.html' }"></div>
            </div>
            <div bz-widget="'bcPages.Widgets.Page'" data-settings="{'id': 34, templateUrl: '/views/widgets/pages/category/info.html' }"></div>
        </div>
    </div>
    <div class="col col-md-4 sidebar">
        <div bz-widget="'bcPages.Widgets.Category'" data-settings="{ 'category_id':20, templateUrl: '/views/widgets/pages/category/tea.html' }"></div>
    </div>
    <div class="clearfix"></div>
</div>