<div class="row">
    <div class="col col-md-8 content" bz-loading-container="loading">
        <div class="mainpage">
            <h1>{{page.title|language}}</h1>
            <div>
                <img class="first-img" ng-src="{{ page.images.0.url }}" alt="{{ page.title }}" />
                <div ng-bind-html="page.body.en"></div>
                <div class="clearfix"></div>
                <div bz-img="page.images" ng-if="!loop.first"></div>
            </div>
        </div>
    </div>
    <div class="col col-md-4 sidebar">
        <div bz-widget="'bcPages.Widgets.Category'" data-settings="{ 'category_id':20, templateUrl: '/views/widgets/pages/category/tea.html' }"></div>
    </div>
    <div class="clearfix"></div>
</div>